@import 'resets';
@import 'config';

// main
body{
    background: $body-color;
}

.flip {
    overflow: hidden;
    margin: auto;
}

.flip-container {
    @include site-trasition;
        .flip-page {
        img {
            width: 100%;
            border: 2px solid rgb(238, 237, 237);
        }
    }
}



// sub saciton heading and visit us area
.heading {
    text-transform: uppercase;
    font-family: 'roboto';
    color: $heading-color;
    margin: 10px 0;
    text-align: center;
    @include text-shadow;


        h1 {
            font-size: 20px;
            font-weight: 700;
            display: inline-block;
            border-bottom: 2px solid $heading-color;
            padding: 0 40px;
            padding-bottom: 10px;
        }

        a {
            color: $heading-color;
            text-decoration: none;
            font-weight: 700;
            @include site-trasition;
            &:hover {
                color: $hover-color;
            }
        }
}



// button area 
.flip-btn-area {
    text-align: center;
    margin: 20px 0;

    button {
        border-radius: 4px;
        border: none;
        font-weight: 400;
        font-family: 'roboto';
        text-transform: uppercase;
        font-size: 14px;
        width: 80px;
        padding: 5px;
        margin: 0 10px;
        @include site-trasition;
        @include add-page-shadow;
        color: $pimary-green;
        background-color: $hover-color;
        &:hover {
            color: $body-color;
            background: rgb(0, 0, 0);
        }
    }
}


// responsive code 
@include tab-mobile {
    .flip-btn-area button{
        width: 80px;
        font-size: 14px;
        padding: 7px;
    }
}


// laptop
@include below-laptop {
    .flip-container {
        width: 95%;
    }
}


//Rotate screen
.flip-btn-mobile {
    z-index: 2;
    .prev {
        position: absolute;
        bottom: 10px;
        left: 15px;
    }
    .next {
        position: absolute;
        bottom: 10px;
        right: 15px;
    }
}

.d-none {
    display: none;
}




// test

.iframe1 {
    border: 0px none;
    height: 100vh;
    width: 100%;
}


.inner-div {
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 0;
}


.botom-bar {
    background: $add-bacground;
    z-index: 2;
    position: absolute;
}

.top-bar {
    background: $add-bacground;
    z-index: 2;
    position: absolute;
    top: 0;
    
}